<marquee width="60%" direction="right" height="60px">
  This Page Describes You about our application
  </marquee>
<h5 style="text-align: center;margin-top: 7px;text-shadow: 2px 2px 5px cyan;">Our Mission</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eos explicabo corporis nam fugiat adipisci? Cumque eaque iusto non, consectetur nobis, maiores nihil omnis dignissimos ratione aperiam nostrum molestias. Ex.
Eos blanditiis eaque sit, expedita maxime alias facilis hic? Molestias, minima nemo ducimus possimus perferendis modi doloremque fugit eveniet vero adipisci sit labore earum aliquid neque. Nesciunt corrupti soluta doloribus?
Non molestiae labore sunt ipsum enim corporis iusto ratione harum voluptate, aliquam minus ut, impedit quo rem distinctio animi beatae commodi exercitationem recusandae officiis? Incidunt, repudiandae cumque. Autem, temporibus iusto!</p>
